
			.carousel {
				width: 100%;
			}
			.carousel-indicators li {
				border: none;
				background: #888;
			}
			.carousel-indicators .active {
				background: none;
				border: 2px solid #888;
			}
			.carousel .carousel-control {
				line-height: 100px;
				width: 50px;
				height: 100px;
				top: 50%;
				color: #fff;
				background: none;
				font-size: 50px;
				margin-top: -50px;
				display: none;
			}
			.carousel .left{
				left:3%;
			}
			.carousel .right{
				right:3%;
			}
			.carousel-caption button:first-child {
				border:2px solid #FD4F00;
				color:#FD4F00;
				background:#fff;
			}
			.carousel-caption button:last-child {
				border:2px solid #FD4F00;
				color:#fff;
				background:#FD4F00;
			}
			.bottom .bottom-nav {
				text-align: center;
				font-size: 16px;
			}
			.bottom .bottom-nav li {
				padding:0;
			}
			.bottom .bottom-nav a {
				color: #000;
			}
			.bottom .thumbnail{
				border:none;
				text-align:center;
			}
