
			/*侧边栏*/
			.sidebar {
				position: fixed;
				width: 200px;
				height: 300px;
				z-index: 5;
				right:-118px;
				top: 200px;
			}
			.sidebar li {
				position: relative;
				width: 192px;
				height: 42px;
				background: orangered;
				opacity:0.8;
				margin: 5px 0;
				list-style: none;
				cursor: pointer;
				padding-top: 8px;
				padding-left: 8px;
			}
			.sidebar a {
				background: orangered;
				opacity:0.8;
				display:block;
				width: 42px;
				height: 42px;
				margin: 5px 0;
				padding-top: 8px;
				padding-left: 8px;
			}
			
			/*导航栏部分开始*/
			.top-nav {
				width: 100%;
				height: 50px;
				background: #333;
				color: #ccc;
			}
			.logo div {
				line-height: 50px;
				font-weight: 700;
				text-align: center;
				padding: 0;
			}
			.logo a {
				display: block;
			}
			.logo img {
				margin-top: 15px;
			}
			.logo .load {
				background: #333;
			}
			.logo .btn:hover,.logo .btn:focus {
				color:#ccc;
			}
			.family1 span,.family2 span {
				display:block;
				height: 50px;
				cursor: pointer;
			}
			.son1,.son2 {
				position: fixed;
				width: 100%;
				height: 100px;
				background: #fff;
				z-index: 3;
				left: 0;
				display: none;
				margin-left:3px;
			}
			.son1 div{
				position: absolute;
				padding: 10px 0;
				color:#000;
				left: 13%;
			}
			.son2 div {
				position: absolute;
				padding: 10px 0;
				color:#000;
				left: 10%;
			}
			.son2 .two{
				left: 25%;
			}
			.son1 .two{
				left: 25%;
			}
			.son2 .thr {
				left:40%
			} 
			.son1 .thr{
				left: 37%;
			}
			.son2 .four {
				left:55%;
			} 
			.son1 .four{
				left: 49%;
			} 
			.son2 .five {
				left:70%;
			}
			.son1 .five{
				left: 61%;
			} 
			.son2 .six {
				left:85%;
			}
			.son1 .six{
				left: 73%;
			} 
			.son1 .seven{
				left: 85%;
			}
			.son1 p,.son2 p{
				margin-top: -15px;
				font-size: 12px;
			}
			.input-group-addon {
				background:none;
			}
			.modal-body .modal-body-load {
				padding: 10px;
			}
			.modal-body .modal-body-load form {
				padding-top: 20px;
			}
			.btn-group .dropdown-menu {
				left:-206px;
				width: 256px;
			}
			/*导航栏部分结束*/
			
			
			/*footer部分开始*/
			.footer {
				background: #262626;
			}
			.footer .panel {
				background: #262626;
				border:none;
				text-align:center;
				margin-top: 5px;
			}
			.footer .panel .panel-heading {
				background: #262626;
				color:#ccc;
			}
			.panel-group {
				color:#fff;
			}
			.panel-heading a {
				text-decoration:none;
			}
			/*footer部分结束*/