body,html{
	width: 100%;
	overflow-x: hidden;
}
/*广告栏部分*/
	.banner-nav {
		width: 100%;
		height: 40px;
		background: #fff;
	}
	.banner-nav .row {
		height: 40px;
		overflow: hidden;
	}
	.ac18 li {
		list-style: none;
		float: left;
		height: 40px;
		line-height: 40px;
		text-align: center;
	}
	.ac18 a {
		text-decoration: none;
		font-size: 12px;
		color: #333;
		padding: 5px 5px;
		margin: 0 5px;
	}
	.ac18 a:hover {
		color: orangered;
	}
	.tmjd {
		margin: 15px 0;
	}
	.tmjd img {
		width: 88px;
		height: 40px;
		border: 1px solid #aaa;
		margin-right: 10px;
	}
	.top-site-right {
		font-size: 16px;
	}
	.top-site-right h3 {
		text-align: center;
	}
	.smimg ul{
		width: 100%;
		padding: 0;
		height: 60px;
	}
	.smimg li {
		width: 70px;
		list-style: none;
		float: left;
	}
	.smimg img {
		border: 1px solid #ccc;
		margin-left: 15px;
		width: 58px;
		height: 58px;
		cursor: pointer;
	}
	
	/*主体第二部分*/
	.ac1812 {
		position: relative;
		overflow: hidden;
		width: 100%;
	}
	.ac1812 .bgimg{
		width: 100%;
	}
	.ac1812 .ac181dot {
		position: absolute;
		left:0;
		top:0;
		animation: star 120s infinite linear;
	}
	@keyframes star {
		0%{transform:rotate(0deg);}
		50%{transform:rotate(360deg);}
		100%{transform:rotate(0deg);}
	}
	.star1 {
		width: 215px;
		height: 127px;
		position: absolute;
		top: 0%;
		left: 100%;
		opacity:1;
		z-index: 3;
		background: url(../img2/ac18/star1.png) no-repeat;
		animation: star1 5s infinite linear 1s;
	}
	@keyframes star1 {
		0%{
			top:0%;
			left:100%;
			opacity:0.9;
		}
		50%{
			top:10%;
			left:100%;
			opacity:0.9;
		}
		100%{
			top:60%;
			left:-5%;
			opacity:0.1;
		}
	}
	.ac1812 .ac1811 {
		position: absolute;
		top: -10%;
		left: 50%;
		z-index: 4;
		width: 950px;
	}	
	.ac1812 h1 {
		position: absolute;
		top: 20%;
    	left: 20%;
    	z-index: 5;
    	color: #fff;
    	font-size: 60px;
	}
	.ac1812 h4 {
		position: absolute;
		top: 45%;
    	left: 20%;
    	z-index: 5;
    	color: #fff;
    	font-size: 24px;
	}
	.ac1812 h5 {
		position: absolute;
		top: 75%;
    	left: 20%;
    	z-index: 5;
    	color: #fff;
    	font-size: 20px;
	}
	.ac1812 .ac1813 {
		position: absolute;
		top: 55%;
    	left: 20%;
    	z-index: 5;
    	color: #fff;
    	font-size: 24px;
	}

	/*主体第二部分结束*/
	
	.game div {
		background: #3C3C3C;
		text-align: center;
		color:#fff;
		width: 100%;
		height: 200px;
		font-size: 60px;
		line-height: 200px;
	}
	/*主体第三部分开始*/
	.site-3 {
		top: 0;
		width: 100%;
		height: 800px;
		position: relative;
		background: #000;
		overflow:hidden;
	}
	.site-3 h3 {
		margin-top: 4%;
		width: 100%;
		color: #fff;
		text-align: center;
		font-size: 40px;
		z-index:1;
	}
	.site-3 h4 {
		position: absolute;
		width: 80%;
		line-height: 30px;
		color: #fff;
		font-size: 20px;
		z-index: 1;
		left: 10%;
		text-align: center;
	}
	.site-3 .ac1831{
		position: absolute;
		width: 70%;
		opacity: 0;
		top: 10%;
		left: 15%;
	}
	.r10,.ra9,.r30,.Rocket{
		opacity: 0;
		position: absolute;
		top: 55%;
		width: 17%;
	}
	.r10 {
		left: 16%;
	}
	.ra9 {
		left: 35%;
	}
	.r30 {
		left: 54%;
	}
	.Rocket {
		left: 73%;
	}
	/*主体第三部分结束*/
	
	
	/*主体第四部分开始*/
	.site-4 {
		background: #F9F9F9;
	}
	.site-4 .line {
		margin:50px auto;
		position: relative;
	}
	.line .form1 {
		position: absolute;
		z-index: 1;
	}
	.line .ant1, .line .ant2 {
		position: absolute;
		width: 0px;
		height: 395px;
		top: 32px;
		left: 79px;
		z-index: 1;
		overflow: hidden;
	}
	/*主体第四部分结束*/
	
	/*content第五部分开始*/
	.site-5 {
		position:relative;
		width: 100%;
		overflow: hidden;
	}
	.ac1841 {
		width: 100%;
		min-width: 650px;
	}
	.ac1842,.ac1843,.ac1844,.ac184 {
		transform-style: preserve-3d;
		backface-visibility: hidden;
		position: absolute;
		left: 0%;
	}
	.ac1844 {
		top: 0;
		left: 30%;
	}
	.ac1843 {
		width: 1150px;
		top: 10%;
		left: 0;
	}
	.ac1842 {
		top: 40%;
		left: 58%;
	}
	.ac184 {
		top: 55%;
		left: 65%;
	}
	.site-5 h3,.site-5 h4 {
		position: absolute;
		color: #fff;
	}
	.site-5 h3 {
		width: 270px;
		height: 50px;
		right: 22%;
		top: 20%;
		font-size: 30px;
		
	}
	.site-5 h4 {
		width: 300px;
		right: 20%;
		top: 30%;
		font-size: 20px;
		line-height: 30px;
	}
	/*content第五部分结束*/
	
	/*content第六部分结束*/
	.site-6,.site-7-w {
		width: 100%;
		height: 800px;
		max-width: 1210px;
		min-width: 460px;
		margin: 0 auto;
		position: relative;
	}
	.site-6 h3 {
		position: absolute;
		left: 50%;
		width: 320px;
		height: 110px;
		font-size: 40px;
		top: 15%;
		line-height: 1.3;
	}
	.site-6 div {
		position: absolute;
		width: 600px;
		height: 270px;
		font-size: 20px;
		top: 40%;
		left: 50%;
	}
	.site-6 img {
		position: absolute;
		left: 20%;
	}
	.site-6 .ac6103 {
		bottom: 10%;
		left: 50%;
		opacity: 0;
	}
	.site-6 .ac6l {
		top: 10%;
		width: 69px;
		opacity: 0;
	}
	.site-6 .ac6r {
		top: 5%;
		width: 70px;
		opacity: 0;
	}
	.site-6 .ac6c {
		top: 20%;
		width: 65px;
		opacity: 0;
	}
	/*content第六部分结束*/
	
	/*content第七部分开始*/
	.site-7 {
		background: #000;
	}
	.site-7-w {
		color: #fff;
		overflow: hidden;
	}
	.site-7-w h3 {
		position: absolute;
		top: 10%; 
		font-size: 40px;
		width: 100%;
		text-align: center;
	}
	.site-7-w h4 {
		position: absolute;
		top: 20%;
		width: 100%;
		font-size: 30px;
		text-align: center;
	}
	.site-7-text {
		position: absolute;
		top: 40%;
		left: 12%;
		width: 400px;
		height: 300px;
		font-size: 18px;
		line-height: 30px;
	}
	.ac1871 {
		position: absolute;
		left: 55%;
		top: 31%;
	}
	.site-7-h2 {
		position: absolute;
		width: 0px;
		height: 33px;
		left: 62.5%;
		top: 49%;
		overflow: hidden;
	}
	.ac1872 {
		position: absolute;
		left: 20%;
		bottom: 5%;
		width: 800px;
	}
	/*content第七部分结束*/
	
	/*媒体查询部分开始*/
	@media only screen and (min-width: 1300px) and (max-width: 1600px) {
		.ac1812 .ac1811 {
			width: 700px;
			top: 0;
		}
	}
	@media only screen and (min-width: 1300px) and (max-width: 1500px) {
		.ac1812 h1 {
			font-size: 48px;
		}
	}
	@media only screen and (min-width: 992px) and (max-width: 1299px) {
		.ac1812 h1 {
			font-size: 36px;
		}
		.ac1812 .ac1811 {
			width: 500px;
			top: 10%;
		}
		.ac1812 h4,.ac1812 h5 {
			font-size: 20px;
		}
		.game div {
			height: 150px;
			line-height: 150px;
			font-size: 50px;
		}
	}
	@media only screen and (min-width: 768px) and (max-width: 1199px) {
		.site-6 h3 {
			font-size: 26px;
			left: 45%;
			top: 10%;
		}
		.site-6 div {
			font-size: 14px;
			width: 350px;
			line-height: 24px;
			left: 45%;
			top: 35%;
		}
		.site-6 .ac6103 {
			left: 45%;
			width: 480px;
			bottom: 5%;
		}
		.site-6 .ac6l {
			width: 45px;
			top: 15%;
		}
		.site-6 .ac6r {
			width: 48px;
			top: 10%;
		}
		.site-6 .ac6c {
			width: 44px;
			top: 25%;
		}
	}
	@media only screen and (min-width: 768px) and (max-width: 991px){
		.ac1812 h1 {
			font-size: 28px;
		}
		.ac1812 .ac1811 {
			width: 400px;
			top: 0;
		}
		.ac1812 h4,.ac1812 h5 {
			font-size: 16px;
		}
		.ac1812 .ac1813 {
			width: 50px;
			top: 60%;
		}
		.game div {
			height: 100px;
			line-height: 100px;
			font-size: 40px;
		}
		.ac1844 {
			width: 250px;
		}
		.ac1843 {
			width: 600px;
			top: 25%;
		}
		.ac1842 {
			width: 400px;
		}
		.site-5 h3 {
			font-size: 20px;
			left: 70%;
		}
		.site-5 h4 {
			width: 200px;
			font-size: 16px;
			line-height: 18px;
			left: 70%;
		}
		.site-6 h3 {
			font-size: 20px;
		}
		.site-6 div {
			font-size: 14px;
			width: 350px;
			line-height: 20px;
		}
		.site-6 .ac6103 {
			width: 430px;
			bottom: 10%;
		}
		.site-6 {
			height: 600px;
		}
		.site-7-w {
			height: 400px;
		}
		.site-7-w h3 {
			font-size: 20px;
			top: 8%;
		}
		.site-7-w h4 {
			font-size: 14px;
			top: 20%;
		}
		.site-7-text {
			font-size: 12px;
			line-height: 20px;
			top: 32%;
			width: 80%;
			left: 10%;
		}
		.ac1871 {
			display: none;
		}
		.site-7-h2 {
			display: none;
		}
		.ac1872 {
			margin: 240px auto;
			position: static;
			display: block;
			width: 350px;
		}
		.site-3 {
			height: 500px;
		}
		.site-3 h3 {
			font-size: 20px;
		}
		.site-3 h4 {
			font-size: 14px;
		}
	}
	@media screen and (min-width: 1400px) {
		.r10,.ra9,.r30,.Rocket {
			width: 196px;
		}
		.r10 {
			left: 22%;
		}
		.ra9 {
			left: 38%;
		}
		.r30 {
			left: 53%;
		}
		.Rocket {
			left: 69%;
		}
	}
	@media screen and (max-width: 767px) {
		.ac1812 h1 {
			font-size: 22px;
			line-height: 40px;
			top: 10%;
		}
		.ac1812 .ac1811 {
			width: 300px;
			top: 15%;
		}
		.ac1812 h4,.ac1812 h5 {
			font-size: 14px;
		}
		.ac1812 .ac1813 {
			width: 70px;
			top: 56%;
		}
		.game div {
			height: 80px;
			line-height: 80px;
			font-size: 24px;
		}
		.ac1844 {
			width: 200px;
		}
		.ac1843 {
			width: 500px;
			top: 25%;
		}
		.ac1842 {
			width: 300px;
		}
		.site-5 h3 {
			font-size: 20px;
			left: 65%;
		}
		.site-5 h4 {
			font-size: 14px;
			left: 65%;
			width: 200px;
			line-height: 18px;
		}
		.site-6 h3 {
			font-size: 20px;
			top: 5%;
		}
		.site-6 div {
			font-size: 14px;
			width: 200px;
			line-height: 20px;
			top: 20%;
		}
		.site-6 .ac6103 {
			width: 300px;
			bottom: 10%;
		}
		.site-6 .ac6l {
			width: 45px;
			top: 15%;
		}
		.site-6 .ac6r {
			width: 48px;
			top: 10%;
		}
		.site-6 .ac6c {
			width: 44px;
			top: 25%;
		}
		.site-6 {
			height: 600px;
		}
		.site-7-w {
			height: 400px;
		}
		.site-7-w h3 {
			font-size: 20px;
			top: 8%;
		}
		.site-7-w h4 {
			font-size: 14px;
			top: 20%;
		}
		.site-7-text {
			font-size: 12px;
			line-height: 20px;
			top: 32%;
			width: 80%;
			left: 10%;
		}
		.ac1871 {
			display: none;
		}
		.site-7-h2 {
			display: none;
		}
		.ac1872 {
			margin: 240px auto;
			position: static;
			display: block;
			width: 350px;
		}
		.sidebar {
			display: none;
		}
	}
	@media only screen and (min-width: 320px) and (max-width: 590px) {
		.ac1812 h1 {
			font-size: 16px;
			line-height: 20px;
			top: 10%;
		}
		.ac1812 .ac1811 {
			width: 200px;
			top: 15%;
		}
		.ac1812 h4,.ac1812 h5 {
			font-size: 12px;
		}
		.ac1812 .ac1813 {
			width: 40px;
			top: 60%;
		}
		.ac1843,.ac1844{
			display: none;
		}
		.site-5 h3{
			font-size: 18px;
			top: 0%;
			left: 10px;
		}
		.site-5 h4 {
			top: 20%;
			font-size: 14px;
			left: 10px;
		}
		.ac1841{
			width: 100%;
			min-width: 320px;
		}
		.ac1842 {
			width: 200px;
		}
	}
	@media only screen and (min-width: 499px) and (max-width: 767px) {
		.site-3 {
			height: 450px;
		}
		.site-3 h3 {
			font-size: 20px;
		}
		.site-3 h4 {
			font-size: 12px;
		}
	}
	@media screen and (max-width: 498px) {
		.site-3 {
			height: 300px;
		}
		.site-3 h3 {
			font-size: 20px;
		}
		.site-3 h4 {
			margin-top: 5px;
			font-size: 12px;
			line-height: 14px;
		}
	}
	@media only screen and (min-width: 1200px) and (max-width: 1600px) {
		.ac1812 .ac1813 {
			width: 100px;
		}
	}
	@media only screen and (min-width: 992px) and (max-width: 1199px) {
		.ac1812 .ac1813 {
			width: 75px;
			top: 58%;
		}
		.ac1844 {
			width: 300px;
		}
		.ac1843 {
			width: 700px;
			top: 25%;
		}
		.ac1842 {
			width: 500px;
		}
		.site-5 h4 {
			font-size: 16px;
			width: 270px;
			left: 70%;
		}
		.site-7-w {
			height: 600px;
		}
		.site-7-w h3 {
			font-size: 28px;
			top: 8%;
		}
		.site-7-w h4 {
			font-size: 20px;
			top: 17%;
		}
		.site-7-text {
			font-size: 16px;
			line-height: 28px;
			top: 32%;
		}
		.ac1871 {
			width: 400px;
			top: 22%;
		}
		.site-7-h2 {
			left: 61.5%;
			top: 43%;
		}
		.ac1872 {
			bottom: 6%;
			width: 700px;
		}
		.site-3 {
			height: 500px;
		}
		.site-3 h3 {
			font-size: 26px;
		}
		.site-3 h4 {
			font-size: 16px;
		}
	}
	@media only screen and (min-width: 1200px) and (max-width: 1300px) {
		.ac1844 {
			width: 350px;
		}
	}
	@media only screen and (min-width: 1200px) and (max-width: 1399px) {
		.site-6 h3 {
			font-size: 26px;
			left: 45%;
		}
		.site-6 div {
			font-size: 16px;
			width: 500px;
			line-height: 32px;
			left: 45%;
			top: 30%;
		}
		.site-6 .ac6103 {
			left: 45%;
			bottom: 16%;
		}
		.site-6 .ac6l {
			width: 51px;
		}
		.site-6 .ac6r {
			width: 55px;
		}
		.site-6 .ac6c {
			width: 50px;
		}
		.ac1843 {
			width: 800px;
			top: 25%;
		}
		.ac1842 {
			width: 600px;
		}
		.site-7-w h3 {
			font-size: 36px;
		}
		.site-7-w h4 {
			font-size: 24px;
		}
		.site-7-text {
			font-size: 16px;
			line-height: 28px;
		}
		.ac1871 {
			width: 400px;
		}
		.site-7-h2 {
			left: 61.5%;
			top: 47%;
		}
		.ac1872 {
			bottom: 6%;
		}
		.site-3 {
			height: 600px;
		}
		.site-3 h3 {
			font-size: 26px;
		}
		.site-3 h4 {
			font-size: 16px;
		}
		.r10,.ra9,.r30,.Rocket {
			width: 130px;
		}
	}
	@media only screen and (min-width: 992px) and (max-width: 1599px) {
		.site-5 h3 {
			font-size: 26px;
			left: 70%;
		}
	}
	@media only screen and (min-width: 1200px) and (max-width: 1599px) {
		.site-5 h4 {
			font-size: 20px;
			left: 70%;
		}
	}
	/*媒体查询部分结束*/