body, html{
	height: 100%;
}
.container {
	text-align: center;
}
.site-1 {
	height: 80px;
	line-height: 80px;
	text-align: center;
}
.site-2-fst{
	height: 40px;
}
.site-2-fst input,.site-2-fst button {
	text-align:center;
	border:none;
}
.site-2-fst button {
	font-size: 24px;
	padding-top:0;
	padding-bottom:0;
}
.site-2-lst{
	height: 40px;
}
.site-lst-son div {
	height:40px;
	line-height: 40px;
	text-align:center;
	cursor: pointer;
}
.m12,.ac,.gx {
	display:none;
}
.AC18 {
	display: block;
}
.m19 a{
	display: block;
}
.footer {
	position: relative;
	bottom: -20%;
}
